<ion-header>
  <ion-toolbar>
    <ion-title>تبعیت از درمان</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion [value]="session.title" *ngFor="let session of sessions">
      <ion-item lines="none" slot="header" color="light">
        <ion-icon
          *ngIf="playingSessionId === session.id"
          name="volume-high-outline"
          slot="end"
          color="primary"
          mode="md"
        ></ion-icon>
        <ion-label>{{ session.title }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"  *ngFor="let video of session.videos; let i = index">
        <ion-item button lines="none" color="light" class="ion-no-margin" [routerLink]="['show-video', video.video]">
          <ion-label>مشاهده ی فیلم شماره ی {{ i + 1 }}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
