<ion-header>
  <ion-toolbar>
    <ion-title>نمودار سلامت </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Bun
    </ion-card-header>
    <ion-card-content>
      <canvas #BunCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Cr
    </ion-card-header>
    <ion-card-content>
      <canvas #CrCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Hb
    </ion-card-header>
    <ion-card-content>
      <canvas #HbCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Hct
    </ion-card-header>
    <ion-card-content>
      <canvas #HctCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Na
    </ion-card-header>
    <ion-card-content>
      <canvas #NaCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار K
    </ion-card-header>
    <ion-card-content>
      <canvas #KCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Ca
    </ion-card-header>
    <ion-card-content>
      <canvas #CaCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار P
    </ion-card-header>
    <ion-card-content>
      <canvas #PCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار Feritin
    </ion-card-header>
    <ion-card-content>
      <canvas #FeritinCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      نمودار PTH
    </ion-card-header>
    <ion-card-content>
      <canvas #PTHCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>