<ion-header>
  <ion-toolbar>
    <ion-title>اکانت</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail [routerLink]="['/tabs', 'account', 'edit-data']">
    <ion-label>ویرایش اطلاعات</ion-label>
  </ion-item>
  
  <ion-item detail [routerLink]="['/tabs', 'account', 'choose-disease']">
    <ion-label>انتخاب بیماری</ion-label>
  </ion-item>
  
  <ion-item detail [routerLink]="['/tabs', 'account', 'submit-report']">
    <ion-label>ثبت گزارش</ion-label>
  </ion-item>
  
  <ion-item detail [routerLink]="['/tabs', 'account', 'edit-data']">
    <ion-label>گفتگو با ادمین</ion-label>
  </ion-item>
  
  <ion-item detail [routerLink]="['/tabs', 'account', 'contact-us']">
    <ion-label>تماس با ما</ion-label>
  </ion-item>
  
</ion-content>