<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="true" [scrollY]="true">
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner name="circular" color="primary"></ion-spinner>
  </div>
  <pinch-zoom [properties]="zoomProperties">
    <pdf-viewer
      (after-load-complete)="callBackFn($event)"
      src="/assets/symptoms-of-dialysis/pdf/{{ filename }}"
      [render-text]="true"
      [original-size]="false"
      style="width: 100%; height: 100%"
    ></pdf-viewer>
  </pinch-zoom>
</ion-content>