<ion-header>
  <ion-toolbar>
    <ion-title>تماس با ما</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact-us-image">
    <ion-img src="/assets/contact-us/contact-us.png"></ion-img>
  </div>
  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label>09036569330</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
    <ion-label>09036569330</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label>Benyaminsaadatifar75@yahoo.com</ion-label>
  </ion-item>
</ion-content>